body {
    margin: 0;
    font-family: Arial, sans-serif;

}

header {
    background-color: #163505;
    padding: 10px 0;

}

#about h2 {
    font-size: 35px;
    color: white;
    margin-left: 30px;
}

#divcenter {
    background-color: white;
    min-height: 500px;
    display: flex;

}

#esquerda {
    width: 75%;
    padding: 20px;
}

#direita {
	min-height: 500px;
    width: 25%;
    background-color: #c8dbaa;
    padding: 20px;
    text-align: center;
}

h4 {
    text-align: center;
}

#foto {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 180px;
}

footer {
    background-color: #265f07cb;
    color: white;
    text-align: center;
    
    padding: 10px 0;
}

#final {
    display: flex;
    align-items: center;
    justify-content: center;
}

#final a {
    margin-right: 10px;
}

.social_icone {
    display: flex;
}

img {
    width: 50px;
}

@media screen and (max-width: 600px) {
    *{
        box-sizing: border-box;
    }

    #divcenter {
        display: flex;
        flex-direction: column;
    }

    #esquerda {
		min-height: 600px;
        padding: 10px; 
		width: 100%;
        width: auto;
		margin-top: 0;
    }
	#direita {
		min-height: 300px;
        padding: 10px; 
		width: 100%;
        width: auto;
		margin-top: 0;
    }
}
